body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d5d5d5;
}

.nav-bar {
  position: absolute;
  top: 10px;
  color: white;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dialog {
  display: flex;
  width: 30%;
  height: 20%;
  justify-content: center;
  position: fixed;
  border-radius: 25px;
  background-color: white;
}
